@import '~bootstrap/scss/bootstrap';

//header
header{
    color: #0282f9;
    nav{
       color: black ;
       ul>li{
            margin-left: 1rem;
            cursor: pointer;
            &.active,
            &:hover{
                color: #0282f9 ;
                border-bottom: solid 2px #0282f9  ;  
            }
        }
    }
}


   
.logo img{
    width: 50%;
}


 .search{
    width: 100px;
    border: solid 1px #0282f9 ;
    border-top: none;
    border-left: none;
    border-right: none;
 }




//footer
 footer{
    background-image: url(../assets/img/footer-bg.jpg);
    background-size: cover;
}
.container-top-foot{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.nav-foot{
    width: 45%;
    display: flex;
    margin-top: 3rem;
    flex-wrap: wrap;
    ul{
        list-style-type: none;
        padding-left: 0;
        padding-right: 1rem;
        line-height: 1.2rem;
        h4{
            color:white  ;
        }
        li{
            color: white ;
        }
    }
}

.description{
    color: white;
    .desc{
        color:#0282f9;
    }
}

.image {
    width: 35%;   
    img{
        width: 400px ;
    }
}
.container-down-foot{
    background-color: #303030;
    div{
        width: 80%;
        margin: auto;
        display: flex;
        justify-content: space-between;

        padding: .5rem 0;
        div button{
            border: solid 1px #0282f9 ;
            padding: 0.5rem 1rem;
            background-color: transparent;
            color: white;
        }
        .icon{
            color: #0282f9 ;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            h3{
                color: #0282f9 ;
            }
            img{
                margin-left: 1rem;
            }
        }
    }
}


//comics home
.jumbo{
    background-image: url(../assets/img/jumbotron.jpg);
    width: 100%;
    height: 350px;
    background-size: cover;
}

main{
    background-color: #1c1c1c ;
    color: white;
    width: 100%;
  }
  
.container-card{
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 3rem;
    button{
        padding: .5rem 2rem;
        background-color: #0282f9;
        color: white;  
    } 
}

.product{
    width: calc((100% / 6 ) - 1rem);
    margin: .5rem;
    img{
        width: 100%;
        height: 150px;
    }
    p{
        font-size: 1rem;
    }
}
